.wrapper {
    width: 100%;
    max-width: 320px;

    &__link {
        color: unset;
        text-decoration: none;
    }

    &__button {
        width: 100%;
        text-align: left;

        background-color: transparent;

        border: none;

        cursor: pointer;
    }
}
