@import '../../styles/variable.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 36px;
    }

    &__green {
        color: $green-color;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__list {
        grid-template-columns: auto;
        column-count: 5;
    }
}
