.wrapper {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__item:last-of-type {
        margin-bottom: 16px;
    }

    &__info {
        display: flex;
        align-items: center;
    }

    &__price {
        display: flex;
        align-items: center;
        row-gap: 8px;
    }
}
