.wrapper {
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__content {
        height: 100%;
        width: 100%;

        transition: .2s;
    }

    // &__item:last-of-type {
    //     transition: .2s;

    //     &:last-of-type {
    //         margin-bottom: 16px;
    //     }
    // }

    &__info {
        display: flex;
        align-items: center;
    }

    &__price {
        display: flex;
        align-items: center;
        row-gap: 8px;
    }
}
