.wrapper {
    overflow-y: scroll;
    max-height: 74vh;
}

.ingridient {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: fit-content;

    position: relative;

    cursor: pointer;

    transition: .2s;

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__price {
        display: flex;
        align-items: center;
        column-gap: 8px;
    }
}
